.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  direction: ltr;
}

.container {
  display: flex;
  width: 100%;
  margin: 0 auto;

  &--center {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
